<!DOCTYPE html>
<html>
  <head>
    <title>Mi sitio!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
  </head>
  <body>
      <header>
            <p>Sitio Top</p>
            <nav>
                <ul>
                    <li>
                        <a href="/peliculas/crear">Crear Peli</a>
                    </li>
                    <li>
                        <a href="/peliculas">Ver Peli</a>
                    </li>
                </ul>
            </nav>
      </header>
    